{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Места</title>
    <link rel="stylesheet" href="{% static 'css/landmark.css' %}">
</head>
<body>
    <div class="container">
        <p id="head">Места</p>
        <div class="landmark-container">
            {% for landmark in object_list %}
                <a class="landmark-link" href="{% url 'landmark_detail' landmark.pk %}">{{ landmark.title }}</a>
                <img src="{{ landmark.preview.url }}" alt="landmark">
            {% endfor %}
        </div>
    </div>
    <a id="back" href="{% url 'home' %}">
        <button>На главную</button>
    </a>
</body>
</html>